<div class="row">
  <div class="col-12 mt-2">
    <!-- Search -->
    <div class="search bg-light border rounded w-100 p-3 mt-5 d-flex flex-row">
      <span class="font-weight-bold text-uppercase col-2 pt-2 ml-5">Search by:</span>
      <select class="form-control border col-3" [(ngModel)]="filterKey">
        <option *ngFor="let key of filterKeys" [value]="[key]">{{key}}</option>
      </select>
      <input [(ngModel)]="phrase" class="filter-search border rounded col-5 mx-3" type="text" placeholder="Search...">
    </div>


    <h2>User List</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th (click)="onColumnSelect('id')">#</th>
          <th (click)="onColumnSelect('name')">Name</th>
          <th (click)="onColumnSelect('email')">Email</th>
          <th (click)="onColumnSelect('address')">Address</th>
          <th (click)="onColumnSelect('active')">Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async | filter:phrase:filterKey | sorter:columnKey">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.active }}</td>
          <td>
            <div class="btn-group">
              <button [routerLink]="['user/' + user.id]" class="btn btn-info">
                <i class="fa fa-pencil"></i>
              </button>
              <button (click)="onDelete(user)" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
              <!-- <i *ngIf="!clicked" class="fa fa-save"></i> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
